<div class="footer">
    <table width="100%">
        <tbody>
            <tr>
                <td width="33%"></td>
                <td width="33%" align="middle">osu! is ©peppy 2007-2012</td>
                <td width="34%" align="right"><a href="/p/terms">Terms of Service</a> | <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/copyright">Copyright</a></td>
            </tr>
        </tbody>
    </table>
</div>