<head>
    <link rel="shortcut icon" href="/web/20120517111606im_/http://osu.ppy.sh/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/web/20120517111606im_/http://osu.ppy.sh/favicon.ico" type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="osu! - Rhythm is just a *click* away!  With Ouendan/EBA, Taiko and original gameplay modes, as well as a fully functional level editor.">
    <meta name="keywords" content="osu, peppy, ouendan, elite, beat, agents, ds, windows, game, taiko, tatsujin, simulator, sim, xna, ddr, beatmania, osu!, osume">
    
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="all">
    
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    <title>osu! - rhythm is just a click away</title>
    
    <meta name="viewport" content="width=864, user-scalable=yes">
</head>