<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<html>
<body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->
    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;/style/images/right-j.jpg&#39;);"></div>
                <!-- <a id="top_support" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"> </a>
                <a id="top_follow" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/twitter"> </a> -->
                
                <%- include('../../partials/global/header.ejs') %>
                
                <div class="content">
                    <%- include('../../partials/global/loginform.ejs') %>

                    <div class="content-with-bg">
						<div class="paddingboth">
                            <h2>Let's learn about osu!</h2>

                            <div class="marginp">osu! is primarily played using a mouse to click 'beats' displayed on-screen in time with the music. This is analogous to tapping the beats on the Nintendo DS screen with a stylus. At the top of the screen, a health bar is present,
                                which is constantly drained. If the player hits or clears a beat, the health meter at the top of the screen fills slightly. If he misses a beat, a large part of the meter is drained, and if it gets completely empty, he
                                fails the song. There are three types of beats in the game: Hit circles, sliders and spinners. Every time the player hits a hit circle or an end circle, touch a slider tick, or clear a spinner, the combo is raised by 1.
                                If he misses any of the above, the combo is reset back to 0.</div>

                            <div class="marginp"><a href="/p/faq">If you are looking for help, click here.</a>
                                <br>
                                <a href="http://osu.ppy.sh/forum/viewtopic.php?f=13&amp;t=581">If you want to see osu! in action, check out some videos in this thread.</a>
                                <br>
                            </div>

                            <h2>osu! History</h2>

                            <h3>2007</h3>

                            <div class="centrep"><img src="/style/images/history1.jpg"></div>

                            <div class="marginp">osu! was initially developed as a proof-of-concept by peppy in July 2007. It was his first attempt at making a game since the point-and-click titles he used to make many years previously. After it turned out better than expected
                                in a short period of time, it became clear that this gaming style had more potential than has already been released. This was the birth of osu!.</div>

                            <h3>2008</h3>

                            <div class="centrep"><img src="/style/images/history2.jpg"></div>

                            <div class="marginp">osu! is now beyond its time in many areas, with a huge focus on web integration and community aspects. Features are added based on people's requests, and their perceived usefulness to the community as a whole. The map submission
                                process (Beatmap Submission System) is seamless and intuitive from start to finish. Importing songs, loading skins and playing the game is simple enough for almost anyone to handle.</div>

                            <div class="marginp">Multiplayer support is available. New gameplay modes are implemented to expand the scope of this game beyond its original expectations.</div>

                            <h3>The Future</h3>

                            <div class="marginp">Think big, and expect big.</div>

                        </div>

                        <div class="clear"></div>
                    </div>
                </div>

                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>

        <script type="text/javascript" src="/js/brand.js"></script>
    </div>
</body>
</html>