<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<html>
<body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->
    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;/style/images/right-j.jpg&#39;);"></div>
                <!-- <a id="top_support" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"> </a>
                <a id="top_follow" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/twitter"> </a> -->
                
                <%- include('../../partials/global/header.ejs') %>
                
                <div class="content">
                    <%- include('../../partials/global/loginform.ejs') %>

                    <div class="content-with-bg">
						<div class="paddingboth">
                            <h2>Let's get you started!</h2>

                            <table>
                                <tbody>
                                    <tr>
                                        <td width="30%" valign="top">
                                            <h3>System Requirements</h3>
                                            <ul>
                                                <li>1GHz+ Processor
                                                    <br>
                                                </li>
                                                <li>512mb+ RAM
                                                    <br>
                                                </li>
                                                <li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=0856EACB-4362-4B0D-8EDD-AAB15C5E04F5&amp;displaylang=en">Microsoft .NET Framework</a> (2.0+, 32bit)
                                                    <br>
                                                    <div class="message">

                                                        <div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <h3>Remember</h3>
                                            <ul>
                                                <li>If you have problems that can't be solved by <a href="/p/faq">reading the FAQ</a><!--or <a href="http://osu.ppy.sh/forum/search.php"> searching the forums</a>-->,
                                                    deal with it		.
                                                    <br>
                                                </li>
                                            </ul>

                                            <!-- <h3>OS X Users:</h3>
                                            <ul>
                                                <li>Please see <a href="https://web.archive.org/web/20120614220525/http://osu.ppy.sh/forum/p/909738">this thread</a> for a semi-working release.</li>
                                            </ul> -->
                                        </td>
                                        <td>
                                            <a href="https://archive.osu.hubza.co.uk/info?v=b1818"><img src="/style/images/download-osu.png"></a>
											<img src="/style/images/download-next.png">
											<a href="/osu!.exe"><img src="/style/images/download-osu.png"></a>
                                            <img src="/style/images/download-next.png">
                                            <a href="/p/beatmaplist"><img src="/style/images/download-beatmaps.png"></a>
                                            <img src="/style/images/download-next.png">
                                            <a href="/p/faq"><img src="/style/images/download-help.png"></a>
                                            <br>

                                            <br>

                                            <div>
                                                <a href="/style/images/download-import.jpg" rel="lightbox"><b>How to import beatmaps into osu!</b></a>

                                                <br>
                                                <br> If you need further help, check out these step-by-step tutorials:
                                                <br>
                                                <a href="https://web.archive.org/web/20120614220525/http://osu.ppy.sh:80/p/download#" onclick="$(&#39;#tutorial1&#39;).show(0); $(&#39;#tutorial2&#39;).hide(0);return false;">Tutorial 1: Downloading and Installing osu!</a>                                                |
                                                <a href="https://web.archive.org/web/20120614220525/http://osu.ppy.sh:80/p/download#" onclick="$(&#39;#tutorial2&#39;).show(0); $(&#39;#tutorial1&#39;).hide(0); return false;">Tutorial 2: Importing Beatmaps</a>
                                            </div>


                                            <div>
                                                <div id="tutorial1" style="display:none;">
                                                    <center>
                                                        <object width="425" height="344">
                                                            <param name="movie" value="http://www.youtube.com/v/cHAhWr6QJnI&amp;hl=en">
                                                            <embed src="https://web.archive.org/web/20120614220525oe_/http://www.youtube.com/v/cHAhWr6QJnI&amp;hl=en" type="application/x-shockwave-flash" width="425" height="344">
                                                        </object>
                                                    </center>
                                                </div>
                                                <div id="tutorial2" style="display:none;">
                                                    <center>
                                                        <object width="425" height="344">
                                                            <param name="movie" value="http://www.youtube.com/v/lROieS0nn2U&amp;hl=en">
                                                            <embed src="https://web.archive.org/web/20120614220525oe_/http://www.youtube.com/v/lROieS0nn2U&amp;hl=en" type="application/x-shockwave-flash" width="425" height="344">
                                                        </object>
                                                    </center>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="clear"></div>
                    </div>
                </div>

                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>

        <script type="text/javascript" src="/js/brand.js"></script>
    </div>
</body>
</html>