<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<html>
<body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->
    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;https://web.archive.org/web/20120517111606im_/http://s.ppy.sh/images/right-j.jpg&#39;);"></div>
                <!-- <a id="top_support" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"> </a>
                <a id="top_follow" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/twitter"> </a> -->
                
                <%- include('../../partials/global/header.ejs') %>
                
                <div class="content">
                    <div class="content-infoline">
                        <form class="inline-form" action="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/search" id="cse-search-box">
                            <div>
                                <input type="hidden" name="cx" value="007714945049801807819:fwdivvi5sik">
                                <input type="hidden" name="cof" value="FORID:10">
                                <input type="hidden" name="ie" value="UTF-8">
                                <input type="text" name="q" size="15" style="border: 1px solid rgb(126, 157, 185); padding: 2px; background: url(&quot;https://web.archive.org/web/20120517111606if_/http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);">
                            </div>
                            <input name="siteurl" type="hidden" value="osu.ppy.sh/">
                            <input name="ref" type="hidden" value="">
                        </form>
                        <form class="inline-form" onsubmit="return userSearch()">
                            <input type="text" class="default form-text form-default-value-processed" name="user-search" id="user-search" size="10" value="User" style="color: rgb(185, 186, 181);">
                        </form>
                        <form class="inline-form" onsubmit="return beatmapSearch()">
                            <input type="text" class="default form-text form-default-value-processed" name="beatmap-search" id="beatmap-search" size="10" value="Beatmap" style="color: rgb(185, 186, 181);">
                        </form>
                        <form action="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/ucp.php?mode=login" method="post">
                            user:
                            <input class="post" type="text" name="username" size="15" maxlength="40" value="" tabindex="0"> pass:
                            <input class="post" type="password" name="password" size="15" maxlength="100" tabindex="0">
                            <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/forgot" title="Forgot Password">?</a> <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/ucp.php?mode=register" title="Register New Account">register</a>
                            <input type="checkbox" class="radio" name="autologin" id="autologin">
                            <label for="autologin">save</label>
                            <input type="hidden" name="redirect" value="/">
                            <input type="hidden" name="sid" value="035e23788d2c972adece5af937f08bbb">
                            <input type="submit" name="login" value="login" tabindex="5">
                        </form>
                    </div>
                    <div class="content-with-bg">
                        <script>
                            setTimeout(updateChat, 10000);
                        </script>

                        <div class="main-right main-column">
                            <div class="main-download">
                                <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/download"><img src="./index_files/osu-download.png"></a>
                            </div>
                            <div class="main-download">
                                <a href="https://web.archive.org/web/20120517111606/http://www.cafepress.com/osume" target="_blank"><img src="./index_files/osu-goodies.png"></a>
                            </div>
                            <div class="main-download">
                                <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"><img src="./index_files/osu-support.png"></a>
                            </div>

                            <div class="main-video">
                                <iframe width="356" height="278" src="./index_files/videoseries.html" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div style="text-align:right;padding-right:5px;">
                                videos managed by <a href="https://web.archive.org/web/20120517111606/http://www.youtube.com/user/VideosuTV?feature=BF">VideosuTV!</a>
                            </div>

                            <div class="hug-bottom">
                                <h2 class="mtitle">Most Played Beatmaps <span>over the last 24 hours</span></h2>
                                <div class="margin main-box">
                                    <div id="most_played">
                                        <table style="font-size:8pt" width="100%" cellspacing="1">
                                            <tbody>
                                                <tr>
                                                    <td width="10%">Plays</td>
                                                    <td>
                                                        <center>Artist / Title</center>
                                                    </td>
                                                    <td width="20%">Creator</td>
                                                </tr>
                                                <tr class="row1">
                                                    <td align="center">25,626</td>
                                                    <td align="left">
                                                        <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/s/48987"><img class="bmlistt" src="./index_files/48987"> May'n - Chase the world (TV Size)</a>
                                                    </td>
                                                    <td><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/u/870067">Envi</a></td>
                                                </tr>
                                                <tr class="row2">
                                                    <td align="center">8,970</td>
                                                    <td align="left">
                                                        <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/s/48467"><img class="bmlistt" src="./index_files/48467"> Kalafina - to the beginning (TV Size)</a>
                                                    </td>
                                                    <td><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/u/575846">Megurine Luka</a></td>
                                                </tr>
                                                <tr class="row1">
                                                    <td align="center">8,507</td>
                                                    <td align="left">
                                                        <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/s/47110"><img class="bmlistt" src="./index_files/47110"> Yuuyu feat. Megpoid GUMI - 228080!</a>
                                                    </td>
                                                    <td><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/u/207340">Pokie</a></td>
                                                </tr>
                                                <tr class="row2">
                                                    <td align="center">7,883</td>
                                                    <td align="left">
                                                        <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/s/43824"><img class="bmlistt" src="./index_files/43824"> Hashimoto Miyuki - Koi Zakura (Short Ver.)</a>
                                                    </td>
                                                    <td><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/u/611174">-Gamu-</a></td>
                                                </tr>
                                                <tr class="row1">
                                                    <td align="center">7,678</td>
                                                    <td align="left">
                                                        <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/s/47539"><img class="bmlistt" src="./index_files/47539"> Hatsune Miku - Tsubomi Zakura</a>
                                                    </td>
                                                    <td><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/u/735289">Mythol</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-left main-column">
                            <div class="paddingboth">


                                <h2 class="ntitle"><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/9">Announcements</a></h2>
                                <div class="news-heading">12.05.13&nbsp;<a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1523426"><b>May 2012 NewBAT/MAT</b></a>&nbsp;(Derekku)</div>
                                <div class="news-text">It's been a couple of months since our last group of newBAT, so it's time to add some new faces to the team! They are...</div>
                                <div class="news-more"><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1523426">Read More / Comment...</a></div>
                                <div class="news-heading">12.05.08&nbsp;<a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1511588"><b>How you can help!</b></a>&nbsp;(peppy)</div>
                                <div class="news-text">I've been wanting to make a post about this for a while, but have been holding off while I get things in place on the site and in my head. As you are probably aware, the osu! community and ecosystem is growing at a constant
                                    rate, but the team hasn't grown in size at all. I'm sure with a community this big, we have a lot of hidden talent out there, so the idea of this post is to reach out and tell you all that we are always looking for
                                    help and input, as well as outlining the current areas where you can immediately jump in and help out!</div>
                                <div class="news-more"><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1511588">Read More / Comment...</a></div>
                                <div class="news-heading">12.04.16&nbsp;<a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1465877"><b>April 2012 Ranking Chart</b></a>&nbsp;(Cyclone)</div>
                                <div class="news-text">April 2012's ranking has been created. <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/chart?ch=MONTH1204" class="postlink">You can find the song list here.</a></div>
                                <div class="news-more"><a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/forum/p/1465877">Read More / Comment...</a></div>
                                <div class="hug-bottom">
                                    <h2 class="mtitle">Online Users <span>over the last 24 hours</span></h2>
                                    <div>
                                        <center>
                                            <img width="460" height="70" src="./index_files/home-useractivity.php">
                                        </center>
                                    </div>

                                    <h2 class="mtitle" style="margin-top:15px;">Game Chat <span>also connect from <a href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/chat">web</a> or <a target="_blank" href="https://web.archive.org/web/20120517111606/irc://cho.ppy.sh/">irc://cho.ppy.sh</a></span></h2>
                                    <div class="margin main-box">
                                        <div id="chat">



                                            <link rel="stylesheet" type="text/css" href="./index_files/banner-styles.css">
                                            <link rel="stylesheet" type="text/css" href="./index_files/iconochive.css">
                                            <!-- End Wayback Rewrite JS Include -->
                                            <table style="font-size:8pt" width="100%" cellspacing="1">
                                                <tbody>
                                                    <tr class="row1">
                                                        <td class="chattime">09:29</td>
                                                        <td>&lt;Thelma&gt; ppl ragequit haha</td>
                                                    </tr>
                                                    <tr class="row2">
                                                        <td class="chattime">09:29</td>
                                                        <td>&lt;OsuMe65&gt; oye!</td>
                                                    </tr>
                                                    <tr class="row1">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;termerys&gt; wow</td>
                                                    </tr>
                                                    <tr class="row2">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;termerys&gt; tnf</td>
                                                    </tr>
                                                    <tr class="row1">
                                                        <td class="chattime">09:30</td>
                                                        <td>* termerys is listening to (Innocent Key - Lunatic Red Eyes)[http://osu.ppy.sh/s/17676]</td>
                                                    </tr>
                                                    <tr class="row2">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;[Tsukasa]&gt; termeh</td>
                                                    </tr>
                                                    <tr class="row1">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;[Tsukasa]&gt; ?</td>
                                                    </tr>
                                                    <tr class="row2">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;termerys&gt; just realised it's 9.5 :O</td>
                                                    </tr>
                                                    <tr class="row1">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;[Tsukasa]&gt; :OOOOOOOOOOOOOOOOOO</td>
                                                    </tr>
                                                    <tr class="row2">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;OsuMe65&gt; oye!</td>
                                                    </tr>
                                                    <tr class="row1">
                                                        <td class="chattime">09:30</td>
                                                        <td>&lt;termerys&gt; :f*ckyeah:</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>
        <script type="text/javascript" src="./index_files/brand"></script>
    </div>
    <div class="igtranslator-main-div" style="display: none; width: 0px; height: 0px;">
        <iframe src="./index_files/saved_resource.html" class="igtranslator-iframe" scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="igtranslator-activator-icon bounceIn" style="background-image: url(&quot;chrome-extension://jgnebchahhepphmokjeohhoebakpfggp/data/icons/home.png&quot;); display: none; top: 375px; left: 969.422px;" title="Click to Show Translation"></div>
    <div>
        <div id="twoseven-ext-tab-media-modal" class="twoseven-ext-tab-media-modal" style="display: none;">
            <!-- Modal content -->
            <div class="twoseven-ext-tab-media-modal-content">
                <div class="iframe-container" style="height: 100%; width: 100%;">
                    <span class="close">×</span>
                </div>
            </div>
        </div>
    </div>
</body>
<style type="text/css" id="igtranslator-color"></style>
</html>