<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<%- include('../../partials/global/htmlhead.ejs') %>

<html>
<body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
    <!-- <a name="top"></a> -->
    <div class="bodytopbg">
        <div class="mainbody">
            <div class="mainbody2">
                <div id="coolheader" style="background-image: url(&#39;/style/images/right-j.jpg&#39;);"></div>
                <!-- <a id="top_support" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/support"> </a>
                <a id="top_follow" class="top_button" href="https://web.archive.org/web/20120517111606/http://osu.ppy.sh/p/twitter"> </a> -->
                
                <%- include('../../partials/global/header.ejs') %>
                
                <div class="content">
                    <%- include('../../partials/global/loginform.ejs') %>

                    <div class="content-with-bg">
						<div class="login-form">
							<h1>Register Form</h1>
							<form action="registerauth" method="POST">
								<input type="text" name="username" placeholder="Username" required>
								<input type="password" name="password" placeholder="Password" required>
								<input type="password" name="passwordConfirm" placeholder="PasswordConfirm" required>
								<input type="text" name="email" placeholder="Email" required>
								<input type="submit">
							</form>
							<p>put real email so that i can change password if needed</p>
							<p>no multiacc</p>
						</div>

                        <div class="clear"></div>
                    </div>
                </div>

                <%- include('../../partials/global/footer.ejs') %>
            </div>
        </div>

        <script type="text/javascript" src="/js/brand.js"></script>
    </div>
</body>
</html>